Daily Remainder Bot.json
{
  "name": "Daily Remainder Bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a5e26534-2e85-47d1-80e1-2925d8cfb8b6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fromEmail": "ananthi877831@gmail.com",
        "toEmail": "=\t{{ $json.Email }}",
        "subject": "=Daily Reminder: {{ $json.Task }}",
        "html": "=<div style=\"font-family: Arial, sans-serif; line-height: 1.5;\">\n  <p>Hi <b>{{ $json.Name }}</b>,</p>\n  <p>⏰ <b>Reminder</b>:</p>\n  <ul>\n    <li><b>Task:</b> {{ $json.Task }}</li>\n    <li><b>Time:</b> {{ $json.Time }}</li>\n  </ul>\n  <p>Stay consistent 💪</p>\n</div>\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "f589bfae-31ba-429a-b4ea-86e9a92d95b3",
      "name": "Send email",
      "webhookId": "f17f47be-cc6c-4fdf-8d60-496062b36e35",
      "credentials": {
        "smtp": {
          "id": "3ZansqlMdFSUSR8q",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1frYu6IGnY3iOzkYqEyRqbKiq4HBEwUeWPDmN6N1RatY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          },
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          },
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "a38d9449-7a53-4f2c-b3ca-4fc757ca66f5",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Oth411NtDY5Cg228",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1daa7cd6-5752-4921-969b-109f4c365e9d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5964ff68df88283c21c0a239869d7d4bf8488184d19fb47d100af3cc95e3783d"
  },
  "id": "c0WzsUlmw3dVYIMj",
  "tags": []
}